* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Gilroy", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.block-size {
  max-width: 940px;
  margin: 0 auto;
}

/* Header block */
.c-sem-header__wrapper {
  padding-top: 32px;
}

/* header navigation block */
.c-sem-navigation {
  padding: 0 5px;
}

.c-sem-navigation__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.e-sem-link {
  text-decoration: none;
  color: #828282;
  font-size: 18px;
  font-weight: bold;
}

.sem-header__underline {
  border: none;
  height: 2px;
  background-color: #828282;
  margin-top: 32px;
  margin-bottom: 0;
}

.e-sem-link:focus {
  color: black;
}

/* Create lines in burger */
.c-sem-burger__button > span,
.c-sem-burger__button > span::before,
.c-sem-burger__button > span::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
}

/* lines position  */
.c-sem-burger__button > span::before {
  content: " ";
  top: -8px;
}

.c-sem-burger__button > span::after {
  content: " ";
  top: 8px;
}

/* Burger */
#burger-menu {
  opacity: 0;
}

#burger-menu:checked ~ .c-sem-burger__button > span {
  transform: rotate(45deg);
}

#burger-menu:checked ~ .c-sem-burger__button > span::before {
  display: none;
}

#burger-menu:checked ~ .c-sem-burger__button > span::after {
  top: 0;
  transform: rotate(90deg);
}

.c-sem-burger__button {
  display: none;
  align-items: center;
  position: fixed;
  top: 70px;
  right: 30px;
  width: 30px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

/* Media for header */
@media (max-width: 375px) {
  .c-sem-burger__button {
    display: flex;
    z-index: 500;
  }
  .c-sem-navigation {
    display: none;
  }

  .c-sem-navigation__list {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    top: 65px;
    right: 0px;
    left: 0px;
    padding: 0 30px;
    background-color: white;
  }

  .c-sem-navigation__list__item {
    display: inline;
    width: fit-content;
    margin-bottom: 70px;
    width: 100%;
  }
  /* Links is block */
  .c-sem-navigation__list__item a {
    display: block;
  }

  /* Open navigation block in burger */
  #burger-menu:checked ~ .c-navigation {
    display: block;
    z-index: 100;
  }
  .sem-header__underline {
    display: none;
  }
}

/* Banner section */
.c-sem-banner__wrapper {
  padding-top: 40px;
}

.c-sem-banner__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Language */
.c-sem-banner__content__lang {
  transform: rotate(-90deg);
  align-self: center;
}

.c-sem-banner__content__lang span:hover {
  color: black;
  font-weight: bold;
  cursor: pointer;
}

/* Banner photo */
.c-sem-banner__photo {
  margin-top: 50px;
}

.e-sem-image {
  display: block;
  width: 100%;
}

/* Media for banner */
@media (max-width: 375px) {
  .c-sem-banner__wrapper {
    padding: 30px 10px;
  }

  .c-sem-banner__content {
    display: block;
  }

  .c-sem-banner__content__title {
    margin-bottom: 32px;
  }

  .c-sem-banner__photo {
    margin-top: 35px;
  }

  .c-sem-banner__content__lang {
    display: none;
  }
}
/* Wrapper fot Section Contuct US */
.ngvr-c-contacts__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Gilroy-Medium";
}

/* Position for Block with title, description text and button */
.ngvr-c-contacts__info {
  padding-bottom: 80px;
  padding-top: 110px;
  text-align: center;
}

/* Position for items in Block ngvr-c-contacts__info */
.info-postion {
  margin-bottom: 20px;
  margin-top: 20px;
}

.info-postion:first-child {
  margin-bottom: 0;
  margin-top: 0;
}
.info-postion:last-child {
  margin-top: 0;
}

/* Title text */
.ngvr-c-info__title {
  font-family: "Gilroy-Bold";
  line-height: 42px;
  font-size: 34px;
}

/* Description */
.ngvr-c-info__description {
  text-align: center;
  line-height: 22px;
  font-size: 18px;
}

/* Button */
.ngvr-e-button__item {
  box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.24),
    -4px 4px 6px -1px rgba(0, 0, 0, 0.24);
  background-color: black;
  border-radius: 100px;
  padding: 10px 30px;
  line-height: 22px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
}

.ngvr-e-button__item:active {
  transform: scale(1.1);
}

/* Position  for Block  Socials  */
.ngvr-c-contacts__socials {
  flex-direction: column;
  align-items: center;
  display: flex;
  margin-bottom: 60px;
}

/* Position for Block with Social Links-Icons */
.ngvr-c-socials__links {
  justify-content: center;
  align-items: center;
  display: flex;
}

.ngvr-e-link__item {
  margin-left: 60px;
}
.ngvr-e-link__item:first-child {
  margin-left: 0;
}

/* Block for text under Block with Social Links-Icons  */
.ngvr-c-socials__text {
  margin-top: 50px;
}
.ngvr-e-text__item {
  text-align: center;
  line-height: 17px;
  color: #828282;
  font-size: 14px;
}

/* Position for Block with Scroll */
.ngvr-c-scroll {
  justify-content: center;
  display: flex;
}

/* Scroll creation */
.ngvr-e-scroll__circle {
  border: 2px solid black;
  text-decoration: none;
  border-radius: 12px;
  padding-top: 3px;
  height: 40px;
  width: 24px;
}

.ngvr-e-scroll__line {
  background-color: black;
  margin: 0 auto;
  height: 9px;
  width: 2px;
}
